body, html {
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  margin: 0;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}
.scroll-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 1.5s ease-in-out;
    scroll-snap-align: start;
    position:relative;
}
img#backgroundImg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}
img#backgroundImg.fade-in-image {
  opacity: 1;
  transition: opacity 3s ease-in-out;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: mask 10s infinite
}
@keyframes mask {
  0%, 10%, 100% {
    opacity: 1
  }
  20%, 90% {
    opacity: 0
  }
}

.content {
    color: #333333;
    text-align: center;
    z-index: 2;
    margin-bottom: 32px;
}
.hero {
  background: #00000099;
  width: 100%;
  padding: 32px 0 16px;
  color: white;
}
.button {
    background: #ff7f50;
    border: none;
    padding: 6px 16px 8px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin-top: 4px;
    transition: 0.3s;
    text-decoration-line: none;
    display: inline-block;
}
button:hover {
    background: #ff4500;
}

.scroll-down {
  position: absolute;
  bottom: 48px;
  margin: auto;
  line-height: 48px;
  z-index: 6;
}
.scroll-down:active {
  opacity: 0.5;
  transform: translateY(4px);
}
.scroll-up {
  position: absolute;
  top: 16px;
  margin: auto;
  line-height: 48px;
  z-index: 6;
}
.scroll-up:active {
  opacity: 0.5;
  transform: translateY(-4px);
}
#invitation {
  width: 100%;
  padding: 32px;
  background-color: #00000099;
  color: white;
  margin-bottom: 8px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4px 0;
  text-align: center;
  font-size: 12px;
  background-color: #ffffff99;
  color: #444444;
}


/* 最初のアニメーション */
#frame {
    /* display: none; */
    background: white;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: start 3s forwards;
    z-index: 10;
}
@keyframes start {
    0% {
        opacity: 1;
    } 
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}
#logo {
    width: 100%;
    object-fit: contain;
    animation: stump 2s forwards, fade-in-out 3s forwards;
}
@keyframes fade-in-out {
    0% {
        opacity: 0%;
    }
    90%{
        opacity: 100%
    }
    100%{
        opacity: 100%
    }
}
@keyframes stump {
    0% {
        transform: scale(15) translate(180px, -180px) rotate(190deg);
    }
    30% {
        transform: scaleX(0.8) scaleY(1.2) translate(0, 40px) rotate(10deg);
    }
    45% {
        transform: scaleX(1.1) scaleY(0.80) translateY(-40px) rotate(0);
    }
    58% {
        transform: scaleX(0.9) scaleY(1.1) translateY(30px) rotate(-10deg);
    }
    70% {
        transform: scaleX(1.05) scaleY(0.9) translateY(-30px) rotate(0);
    }
    79% {
        transform: scaleX(0.95) scaleY(1.05) translateY(20px) rotate(3deg);
    }
    87% {
        transform: scaleX(1.03) scaleY(0.95) translateY(-20px) rotate(-0);
    }
    94% {
        transform: scaleX(0.97) scaleY(1.02) translateY(10px) rotate(-2deg);
    }
    100% {
        transform: scale(1) translateY(5px) rotate(0);
    }
}

/* page1 */
.belt {
    position: absolute;
    width: 2000%;
    height: 500px;
    opacity: 0;
}
#page1 {
    top: -800px;
    transform: rotate(-75deg) translateX(-100%);
    background-color: #00000099;
}
#shadow1 {
    top: -1200px;
    transform: rotate(-75deg) translateX(-100%);
    background-color: #88888899;
}
#page1.view,
#shadow1.view {
    transform: rotate(-75deg) translateX(0);
    opacity: 1;
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}
.spring {
  position: absolute;
  top: 3%;
  left: 5%;
  color: pink;
  margin-right: 5%;
}

/* page2  */
#page2 {
    top: -800px;
    transform: rotate(75deg) translateX(100%);
    background-color: #00000099;
}
#shadow2 {
    top: -1200px;
    transform: rotate(75deg) translateX(100%);
    background-color: #88888899;
}
#page2.view,
#shadow2.view {
    transform: rotate(75deg) translateX(0);
    opacity: 1;
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}
.summer {
  position: absolute;
  top: 3%;
  right: 5%;
  color: rgb(0, 225, 0);
  text-align: end;
  margin-left: 5%;
}

/* page3  */
#page3 {
    bottom: -800px;
    transform: rotate(75deg) translateX(-100%);
    background-color: #00000099;
}
#shadow3 {
    bottom: -1200px;
    transform: rotate(75deg) translateX(-100%);
    background-color: #88888899;
}
#page3.view,
#shadow3.view {
    transform: rotate(75deg) translateX(0);
    opacity: 1;
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}
.fall {
  position: absolute;
  bottom: 8%;
  left: 5%;
  color: orange;
  margin-right: 5%;
}

/* page4  */
#page4 {
    bottom: -800px;
    transform: rotate(-75deg) translateX(100%);
    background-color: #00000099;
}
#shadow4 {
    bottom: -1200px;
    transform: rotate(-75deg) translateX(100%);
    background-color: #88888899;
}
#page4.view,
#shadow4.view {
    transform: rotate(-75deg) translateX(0);
    opacity: 1;
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}
.winter {
  position: absolute;
  bottom: 8%;
  right: 5%;
  margin-left: 5%;
  color: skyblue;
  text-align: end;
}

h1 {
  margin: 0;
}
.subtitle {
  font-size: 24px;
  margin: 12px 0 0;
}
.subtitle:hover {
  text-decoration: underline;
  cursor: pointer;
}
.subtitle:active {
  opacity: 0.6;
}
.pict {
  display: block; 
  margin: 0 auto 8px;
}
.box {
  padding: 16px;
  background-color: #ffffff99;
  color: black;
  font-size: 14px;
  border-radius: 16px;
  z-index: 20;
  text-align: start;
  margin: 0;
  display: none;
}
.box.view {
  display: block;
}
