body, html {
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  margin: 0;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}
.scroll-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 1.5s ease-in-out;
    scroll-snap-align: start;
    position:relative;
}
img#backgroundImg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}
img#backgroundImg.fade-in-image {
  opacity: 1;
  transition: opacity 3s ease-in-out;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: mask 10s infinite
}
@keyframes mask {
  0%, 10%, 100% {
    opacity: 1
  }
  20%, 90% {
    opacity: 0
  }
}

.content {
    color: #333333;
    text-align: center;
    z-index: 2;
    opacity: 0;
    margin-bottom: 64px;
}
.hero {
  background: #ffffff99;
  width: 100%;
  padding: 32px 0 16px;
}
.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: 1s ease-out 1s;
}
.button {
    background: #ff7f50;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-top: 8px;
    transition: 0.3s;
    text-decoration-line: none;
    display: inline-block;
}
button:hover {
    background: #ff4500;
}

.scroll-down {
  position: absolute;
  bottom: 64px;
  margin: auto;
  line-height: 48px;
  z-index: 6;
}
.scroll-down:active {
  opacity: 0.5;
  transform: translateY(4px);
}
.scroll-up {
  position: absolute;
  top: 16px;
  margin: auto;
  line-height: 48px;
  z-index: 6;
}
.scroll-up:active {
  opacity: 0.5;
  transform: translateY(-4px);
}
#invitation {
  width: 90%;
  margin: auto;
  padding: 16px;
  border: 1px #333333 solid;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #ffffff;
  margin-bottom: 8px;
}
#farewell {
  width: 90%;
  margin: auto;
  padding: 16px;
  border: 1px #333333 solid;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #ffffff99;
  margin-bottom: 8px;

}
/* 最初のアニメーション */
#frame {
    /* display: none; */
    background: white;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: start 3s forwards;
    z-index: 10;
}
@keyframes start {
    0% {
        opacity: 1;
    } 
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}
#logo {
    width: 100%;
    object-fit: contain;
    animation: stump 1s forwards, fade-in-out 3s forwards;
}
@keyframes fade-in-out {
    0% {
        opacity: 0%;
    }
    90%{
        opacity: 100%
    }
    100%{
        opacity: 100%
    }
}
@keyframes stump {
    0% {
        transform: scale(10);
    }
    40% {
        transform: scale(0.95) translateY(30px) rotate(3deg);
    }
    65% {
        transform: scale(1.05) translateY(-10px) rotate(-2deg);
    }
    80% {
        transform: scale(0.98) translateY(5px) rotate(1deg);
    }
    90% {
        transform: scale(1.03) translateY(-3px) rotate(-1deg);
    }
    100% {
        transform: scale(1);
    }
}

/* page1 */
.belt {
    position: absolute;
    width: 2000%;
    height: 500px;
    opacity: 0;
}
#page1 {
    top: -800px;
    transform: rotate(-75deg) translateX(-100%);
    background-color: #00000099;
}
#shadow1 {
    top: -1200px;
    transform: rotate(-75deg) translateX(-100%);
    background-color: #88888899;
}
#page1.view,
#shadow1.view {
    transform: rotate(-75deg) translateX(0);
    opacity: 1;
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}
.spring {
  position: absolute;
  top: 10%;
  left: 5%;
}

/* page2  */
#page2 {
    top: -800px;
    transform: rotate(75deg) translateX(100%);
    background-color: #00000099;
}
#shadow2 {
    top: -1200px;
    transform: rotate(75deg) translateX(100%);
    background-color: #88888899;
}
#page2.view,
#shadow2.view {
    transform: rotate(75deg) translateX(0);
    opacity: 1;
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}
.summer {
  position: absolute;
  top: 10%;
  right: 5%;
}

/* page3  */
#page3 {
    bottom: -800px;
    transform: rotate(75deg) translateX(-100%);
    background-color: #00000099;
}
#shadow3 {
    bottom: -1200px;
    transform: rotate(75deg) translateX(-100%);
    background-color: #88888899;
}
#page3.view,
#shadow3.view {
    transform: rotate(75deg) translateX(0);
    opacity: 1;
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}
.fall {
  position: absolute;
  bottom: 10%;
  left: 5%;
}

/* page4  */
#page4 {
    bottom: -800px;
    transform: rotate(-75deg) translateX(100%);
    background-color: #00000099;
}
#shadow4 {
    bottom: -1200px;
    transform: rotate(-75deg) translateX(100%);
    background-color: #88888899;
}
#page4.view,
#shadow4.view {
    transform: rotate(-75deg) translateX(0);
    opacity: 1;
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}
.winter {
  position: absolute;
  bottom: 10%;
  right: 5%;
}
